<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tweets For Sats</title>
    </head>
    <body {% if invoice_id %}onload="startChecking()"{% endif %}>
        <h1>Welcome to Tweets for Sats</h1>
        {% if key %}
        {% load qr_code %}
        <a href="{% url 'lnlogin:logout' %}">Logout</a>
        <h1>Hello, @{{ key }}</h1>
        <h3>Pending: {{ balances.pending }} sats | Available: {{ balances.available }} sats</h3>
        <!--TODO: Display recent tweets-->
        <!--TODO: Turn "Available" into a link/button that displays lnurl-withdraw qr-->
        <button type="button" id="tweetBtn" onclick="get_invoice()">Tweet!</button>

        {% if invoice_id %}
        <div id="invoice">
            {% qr_from_text invoice size="s" %}
            <h3>Expires in <span id="timer">90</span> seconds</h3>
        </div>

        <div id="tweet" style="display: none;">
            <form action="{% url 'main:tweet' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>

        <script>
            var interval;
            var timer_interval;
            var timer_set = 90;

            function startChecking(){
                interval = setInterval(check, 2000);
                timer_interval = setInterval(timer, 1000);
            }

            function check() {
                fetch("{% url 'main:checkinvoice' invoice_id %}")
                .then(response => response.json())
                .then(function(data){
                    if (data.status == "Paid"){
                        clearInterval(interval);
                        clearInterval(timer_interval);
                        var invoice = document.getElementById("invoice");
                        invoice.style.display = "None";
                        var tweet = document.getElementById("tweet");
                        tweet.style.display = "block";
                        var tweetBtn = document.getElementById("tweetBtn");
                        tweetBtn.style.display = "None";
                    }
                    else if (data.status == "Expired"){
                        clearInterval(interval);
                        location.reload();
                    }
                });
            }

            function timer(){
                timer_set = timer_set - 1;
                document.getElementById("timer").innerHTML = timer_set;
                if (timer_set == 0){
                    clearInterval(timer_interval);
                }
            }
        </script>
        {% endif %}

        <script>
            function get_invoice(){
                window.location.replace("{% url 'main:index' %}?invoice=true");
            }
        </script>
        {% else %}
        <a href="{% url 'lnlogin:login' %}">Login</a>
        {% endif %}
    </body>
</html>