[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tweepy = "*"
ecdsa = "*"
django-qr-code = "*"
lnurl = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
