[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tweepy = "*"
ecdsa = "*"
django-qr-code = "*"
lnurl = "*"
django-sslserver = "*"

[dev-packages]

[requires]
python_version = "3.8"
